<!-- start favicons snippet, use https://realfavicongenerator.net/ -->
<Link rel="apple-touch-icon" sizes="180×180" href="/src/apple-touch-icon.png"> 
<link rel="icon" type="image/png" sizes="32×32" href="/src/favicon-32×32.png"> 
<link rel="icon" type="image/png" sizes="16×16" href="/src/favicon-16×16.png">
<Link rel="manifest" href="/src/site.webmanifest">
<link rel="mask-icon" href="/src/safari-pinned-tab.sva" color="#5bbad5">

<!-- 下面两行用于生成主页标签页以及子网页标签页上面的小图标-->
clink rel-"shortcut icon" href="/src/favicon.ico" type="image/x-icon"/>
<Link rel="bookmark" href="/src/favicon.ico"/>
<meta name="msannlication-TileColor" content="#da532¢",
smeta name="theme-colori" content="#fffFFf">
<!-- end favicons snippet -->